body {
  color: #3c4046;
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
  padding:0;
  margin:0;
}

div {
	padding:0;
	margin:0;
}

/* HEADER */

#title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  top: 0;
  background-color: #3c4046;
}

h1 {
  text-align: center;
  font-size: 25px;
  font-family: 'Playfair Display SC', serif;
  padding: 5%;
  color: #fafafa;
}

h1 a {
  color: #fafafa;
}

/* STYLEGUIDE BODY*/

#guide {
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  justify-content: space-between;
  align-items: left;
  top: 0;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 20px;
}

h2 {
  font-size: 20px;
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  border-bottom: 1px solid #272b32;
  width: 50%;
  margin: auto;
}

aside {
  flex: 1;
  flex-flow: row wrap;
  min-width: 40%;
  max-width: 45%;
  justify-content: space-around;
  align-items: center;
}

h3 {
  font-size: 15px;
  text-align: center;
}

ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-content: center;
}

/* COLORS */

.colors {
  flex-flow: row wrap;
	justify-content: space-around;
  align-items: flex-start;
  -webkit-box-shadow: inset 0px -1px 10px -6px rgba(0,0,0,0.38);
  -moz-box-shadow: inset 0px -1px 10px -6px rgba(0,0,0,0.38);
  box-shadow: inset 0px -1px 10px -6px rgba(0,0,0,0.38);
  padding-top: 10px;
}

.color {
  width: 8vw;
  height: 8vw;
  flex: 0 1 25%;
  min-width: 80px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.circleSwatch {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  -webkit-box-shadow: inset 10px 10px 36px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 10px 36px -30px rgba(0,0,0,0.75);
  box-shadow: inset 10px 10px 36px -30px rgba(0,0,0,0.75);
}

.colorDesc {
  font-size: 10px;
  text-align: center;
}

.opacityDesc {
  font-size: 10px;
  text-align: center;
}

.opac

a {
  color: #52555a;
}

/* FONTS */

#fonts {
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.font {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.fontSwatch {
  color: black;
  text-align: left;
  align-self: left;
  font-size: 16px;
}

.fontDesc {
  color: grey;
  flex: 1 1 20%;
  max-width: 30%;
  text-align: right;
  font-size: 16px;
  width: 15vw;
}

#pFonts {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.pFont {
  align-items: center;
}

.pFontDesc {
  /*color: grey;
  flex: 1 1 20%;
  max-width: 30%;
  text-align: right;
  font-size: 16px;
  width: 15vw;*/
}

/* STYLES */

#styles {
  display: flex;
  flex-flow: row wrap;
	justify-content: space-around;
  align-items: flex-start;
}

.style {
  width: 80px;
  text-align: center;
  margin-right: 10px;
}

.styleSwatch {
  height: 80px;
  width: 100%;
  -webkit-box-shadow: inset 0px -1px 10px -6px rgba(0,0,0,0.38);
  -moz-box-shadow: inset 0px -1px 10px -6px rgba(0,0,0,0.38);
  box-shadow: inset 0px -1px 10px -6px rgba(0,0,0,0.38);
  text-align: center;
}

.styleDesc{
  font-size: 10px;
}

.styleText {
  font-size: 55px;
  line-height: 80px;
}
