body {
  color: #49505D;
  font-family: 'Raleway', sans-serif;
}

/* HEADER */

#title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  border-bottom: 2px;
  border-bottom-style: inset;
  width: 100%;
  top: 0;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  padding: 5%;
}

h2 {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  align-self: left;
}

/* STYLEGUIDE BODY*/

#guide {
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  justify-content: left;
  align-items: left;
  width: 100%;
  top: 0;
}

aside {
  flex: 1;
  flex-flow: row wrap;
}

#left {
  background-color: #FAFAFA
}

h3 {
  font-family: monospace;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-content: center;
}

/* COLORS */

.colors {
  flex-flow: row wrap;
	justify-content: space-around;
  align-items: flex-start;
}

.color {
  width: 8vw;
  height: 8vw;
  flex: 0 1 25%;
  min-width: 80px;
}

.circleSwatch {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  -webkit-box-shadow: inset 10px 10px 36px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 10px 36px -30px rgba(0,0,0,0.75);
  box-shadow: inset 10px 10px 36px -30px rgba(0,0,0,0.75);
}

.colorDesc {
  font-size: 10px;
  text-align: center;
}

/* FONTS */

#fonts {
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.font {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.fontSwatch {
  color: black;
  text-align: left;
  align-self: left;
  font-size: 16px;
}

.fontDesc {
  color: grey;
  flex: 1 1 20%;
  max-width: 30%;
  text-align: right;
  font-size: 16px;
  width: 15vw;
}

/* STYLES */

#styles {
  display: flex;
  flex-flow: row wrap;
	justify-content: space-around;
  align-items: flex-start;
}

.style {
  width: 80px;
  text-align: center;
}

.styleSwatch {
  height: 80px;
  width: 100%;
  -webkit-box-shadow: inset 0px -1px 10px -6px rgba(0,0,0,0.38);
  -moz-box-shadow: inset 0px -1px 10px -6px rgba(0,0,0,0.38);
  box-shadow: inset 0px -1px 10px -6px rgba(0,0,0,0.38);
  text-align: center;
}

.styleDesc{
  font-size: 10px;
}

.styleText {
  font-size: 55px;
  line-height: 80px;
}
